#accordian {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
#accordian > div {
    flex-grow: 1;
    flex-basis: 40%;
    margin-top: -10%;
    padding: 10% 5%;
    color: black;
}
#accordian > h1 {
      text-align: center; 
      cursor: pointer; 
      font: normal 75px/35px 'Life Savers', cursive;
}

#detailsHeading{
    text-align: center;
}

input[type="radio"]{
    margin: 0 10px 30px 10px;
  }

.mapsContainer{
    height: 100%;
}

.registeringContactForm{
    display: none;
}

h1.checked { margin-top: 5% !important; font-size: 45px;}
h1.small { font-size: 25px;}
h1.normal{ 
    cursor: pointer; 
    font: normal 34px;}

.details {
    background:white;
}
.contactForm{ 
  background: #2b95a5;
}

input[type="text"], input[type="email"]{
    padding: 10px;
    margin-top: 25px;
    font-size: 16px;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    background-color: #2b95a5;
    width: 80%;
}

.inputs{
    float:left;
    position: relative;
    margin-right: 40px;
    padding-bottom: 20px;
    width: 30%;
}

.enquiryComments{
    position: relative;
    padding: 10px 50px 10px 10px;
    margin-top: 25px;
    float: left;
}

.contactDetails{
    padding: 20px;
}

textarea{
    background-color: #2b95a5;
    font-size: 12;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    margin-bottom: 20px;
}
/*}*/ 